container {
    margin-top: 20px;
}
.card-img-top {
    height: 200px;
    /* Set a fixed height for the card image */
    object-fit: cover;
    /* Maintain the aspect ratio and cover the image */

  }
  .col-sm-4, svg {
    padding-bottom: 10px;
  }