

.simpleBubble {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  
  background: #fff;
  border: solid 2px rgba(0,0,0,0.5);
  border-radius: 20px;
  
  margin-bottom: 10px;
  padding: 10px;
  color: #000;
  word-wrap: break-word;
}

.bubble {
    box-sizing: border-box;
    float: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
    
    background: #fff;
    border: solid 2px rgba(0,0,0,0.5);
    border-radius: 20px;
    
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
    word-wrap: break-word;
  }
  
  .bubble:before, .bubble:after {
    border-radius: 20px / 5px;
    content: '';
    display: block;
    position: absolute;
  }
  
  .bubble:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(0,0,0,0.5);
    bottom: 0px;
    left: -7px;
    z-index: -2;
  }
  
  .bubble:after {
    border: 8px solid transparent;
    border-bottom-color: #fff; /* arrow color */
    bottom: 1px;
    left: -5px;
  }
  
  
  .bubble-alt {
    float: right;
  }
  .bubble-alt:before {
    left: auto;
    right: -7px;
  }
  .bubble-alt:after {
    left: auto;
    right: -5px;
  }
  
  

  .bubble-right {
    box-sizing: border-box;
    float: right;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
    
    background: #fff;
    border: solid 2px rgba(0,0,0,0.5);
    border-radius: 20px;
    
    margin-bottom: 10px;
    padding: 10px;
    color: #000;
    word-wrap: break-word;
}

.bubble-right:before, .bubble-right:after {
    border-radius: 20px / 5px;
    content: '';
    display: block;
    position: absolute;
}

.bubble-right:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(0,0,0,0.5);
    bottom: 0px;
    right: -7px; /* Adjust this for the tip on the bottom right */
    z-index: -2;
}

.bubble-right:after {
    border: 8px solid transparent;
    border-bottom-color: #fff; /* arrow color */
    bottom: 1px;
    right: -5px; /* Adjust this for the tip on the bottom right */
}

.bubble-top-left {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  
  background: #fff;
  border: solid 2px rgba(0,0,0,0.5);
  border-radius: 20px;
  
  margin-bottom: 10px;
  padding: 5px;
  color: #000;
  word-wrap: break-word;
}

.bubble-top-left:before, .bubble-top-left:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
}

.bubble-top-left:before {
  border: 10px solid transparent;
  border-top-color: rgba(0,0,0,0.5); /* Change to point the arrow up */
  top: 0px; /* Position it at the top */
  left: -7px; /* Keep it aligned to the left */
  z-index: -2;
}

.bubble-top-left:after {
  border: 8px solid transparent;
  border-top-color: #fff; /* arrow color */
  top: 1px; /* Position it slightly below the top */
  left: -5px; /* Keep it aligned to the left */
}

